h1,
h6 {
  line-height: 1;
}
.letter-box {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  font-size: 18pt;
  font-weight: 500;
}
.key-btn {
  width: 32px;
}
.key-btn,
.longkey-btn {
  height: 32px;
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 10pt;
  user-select: none;
}
.key-btn:hover,
.longkey-btn:hover {
  cursor: pointer;
}
.key-btn:active,
.longkey-btn:active {
  background-color: rgb(199, 196, 166);
}

.overlay-card {
  width: 80%;
  background-color: white;
  padding: 20px 12px 20px 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.overlay-desc, .btn-new-game {
  font-size: 10pt;
}
.btn-new-game {
  border: none;
  border-radius: 8px;
  padding: 8px 12px 8px 12px;
  background-color: #e3b23c;
  font-weight: 500;
}

.bg-invalid {
  background-color: #a8a797;
}

@media (min-width: 576px) {
  .letter-box {
    width: 70px;
    height: 70px;
    border-radius: 8px;
    font-size: 20pt;
  }

  .key-btn {
    width: 50px;
  }
  .key-btn,
  .longkey-btn {
    height: 50px;
    background-color: aliceblue;
    font-size: 16pt;
    border-radius: 8px;
  }

  .overlay-card {
    width: 24rem;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .overlay-desc, .btn-new-game {
  font-size: 12pt;
}
}
